# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.vs
/250318_WinAPI/x64/*
/250318_WinAPI/.vs/250304_WinAPI
/250318_WinAPI/250304_WinAPI/x64/*
/250318_WinAPI/250304_WinAPI/Debug
